body {
	text-align: center;
	font-family: 'BIZ UDGothic', sans-serif;


}

/*.btn{*/
/*	cursor: pointer;*/
/*	float: right;*/
/*}*/

/*.btn:hover{*/
/*	background-color:rgb(25, 17, 7)*/
/*}*/


/* ゲームの残り秒数が表示されるタイマーの領域 */
.count {
	margin: 0;
	font-weight: bold;
	color: #888;
}

/* テキストが表示される領域 */
.wrap {
	margin-top: 10px;
	padding: 80px 40px;
	background-image: url('../storage/blackbord2.png');
	background-size: cover;
}


/* ミスタイプの場合の背景 */
.mistyped {
	background-color: red;
}


.hidden {
	display: none;
}