<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">


<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<link th:href="@{/css/style.css}" rel="stylesheet" />

	<script th:inline="javascript">

		//JPAインターフェースを継承してMySQLから取得したデータを渡したい！（オリジナルアプリ）
		//以下のコードはタイムリーフのメソッドでJavaのデータをjavascriptに変換している。

		const wordPage = /*[[${wordPage}]]*/ 'wordPage';
		console.log(wordPage[2].mean);

		//const wordArray = wordPage.content.map((page) => page.word))みたいなイメージで出力するまで！
		//wordPage.content.map((page) => {
		//	console.log(page.word);
		//})
	</script>


	<title>FirstEnglish</title>
</head>

<body>

	<!-- ヘッダー -->
	<div th:replace="~{fragment :: header}"></div>

	<main>
		<div class="container pt-4 pb-2">
			<h1 id="title" class="display-2 mb-text-center">First English</h1>
		</div>


		<!-- この下を選択式にして検索できるようにしたい。 -->
		<div class="d-flex justify-content-between align-items-end flex-wrap">
			<form id="range" method="get" th:action="@{/rangeselect}" class="mb-3">
				<div class="input-group">
					<!-- ドロップダウンメニューを追加 -->
					<select id="schoolyear" onchange="getUnit()" class="form-control-lg " name="schoolyear">
						<option selected>学年を選んでください</option>
						<option value="1" th:selected="${schoolyear == 1}">1年生</option>
						<option value="2" th:selected="${schoolyear == 2}">2年生</option>
						<option value="3" th:selected="${schoolyear == 3}">3年生</option>
					</select>



					<!-- 他の検索オプションを追加 -->
					<select id="unitselect" th:fragment="hogehoge" class="form-control-lg " name="unit">
						<option selected>教科書の範囲を選んでください。</option>
						<option th:each="s1 : ${units}" th:text="${s1}">
							aaaa
						</option>

					</select>

					<select id="countselect" class="form-control-lg" name="countselect">
						<option value="5" th:selected="${countselect == '5'}">5秒だけかよ・・・</option>
						<option value="10" th:selected="${countselect == '10'}">10秒頑張る</option>
						<option value="15" th:selected="${countselect == '15'}">15秒頑張る</option>
						<option value="30" th:selected="${countselect == '30'}">30秒頑張る</option>
						<option value="60" th:selected="${countselect == '60'}">1分頑張る</option>
					</select>
					<!-- 選択完了ボタンを追加 -->
					<button id="select" type="submit" class="btn btn-primary">選択完了</button>


				</div>
			</form>
		</div>


		<form action="/" method="get">
			<button class="btn btn-danger" type="submit">リセット</button>
		</form>



		<!-- タイマー設定（セレクト） -->
		<div class="d-flex justify-content-center">
			<p id="count" class="h1 count"></p>
		</div>

		<div id="wrap" class="wrap bg-success border border-warning">
			<span id="question" class="h1 text-light font-weight-bold">javascriptでエラーでも出たかな？</span>
			<div class="mt-5 d-flex justify-content-center">
				<span id="typed" class="h2 text-warning font-weight-bold"></span>
			</div>
		</div>

		<!-- 解答欄　-->
		<div class="d-flex pt-5 justify-content-center">
			<button id="start" class="btn btn-warning btn-lg">スタート</button>
		</div>

		<!-- 解答ボタン スタートの後に出現するようにしたい　-->
		<div class="d-flex pt-5 justify-content-center">
			<button id="pass" class="btn btn-secondary btn-lg me-3" style="display: none;">次の問題(escキー)</button>
			<button id="cheat" class="btn btn-primary btn-lg me-3" style="display: none;">カンニングボタン(Spaceキー)</button>
			<button id="challenge" class="btn btn-danger btn-lg" style="display: none;">解答ボタン(Enterキー)</button>
		</div>




		<!-- 検索ができているか検証したいだけのもの -->
		<div class="d-flex justify-content-center ">
			<table class="small-table table table-success table-striped table-bordered">
				<thead>
					<tr>
						<th scope="col">英単語</th>
						<th scope="col">意味</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="word : ${wordPage}">
						<td th:text="${word.getWord()}"></td>
						<td th:text="${word.getMean()}"></td>
					</tr>
				</tbody>
			</table>
		</div>

</body>

</main>

<!-- フッター -->
<div th:replace="~{fragment :: footer}"></div>

<div th:replace="~{fragment :: scripts}"></div>



</body>

</html>
<http: //localhost:8080 />