<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<link th:href="@{/css/style.css}" rel="stylesheet" />
	

	<title>FirstEnglish</title>
</head>

<body>

	<!-- ヘッダー -->
	<div th:replace="~{fragment :: header}"></div>

	<main>
		<div class="container pt-4 pb-2">
			<h1 id = "title" class="display-2 mb-text-center">First English</h1>
		</div>

		<!-- この下を選択式にして検索できるようにしたい。 -->
		<div class="d-flex justify-content-between align-items-end flex-wrap">
			<form id = "range" method="get" th:action="@{/rangeselect}" class="mb-3">
				<div class="input-group">
					<!-- ドロップダウンメニューを追加 -->
					<select class="form-control-lg " name="schoolyear">
						<option selected>学年を選んでください</option>
						<option value="1" th:selected="${schoolyear == 1}">1年生</option>
   						<option value="2" th:selected="${schoolyear == 2}">2年生</option>
    					<option value="3" th:selected="${schoolyear == 3}">3年生</option>
					</select>
					<!-- 他の検索オプションを追加 -->
					<select class="form-control-lg " name="unit" >
						<option selected>教科書の範囲を選んでください。</option>
						<option value="U1-1" th:selected="${unit == 'U1-1'}">Unit1-1</option>
  						<option value="U1-2" th:selected="${unit == 'U1-2'}">Unit1-2</option>
  						<option value="U1-3" th:selected="${unit == 'U1-3'}">Unit1-3</option>
  						<option value="U2-1" th:selected="${unit == 'U2-1'}">Unit2-1</option>
  						<option value="U2-2" th:selected="${unit == 'U2-2'}">Unit2-2</option>
  						<option value="U2-3" th:selected="${unit == 'U2-3'}">Unit2-3</option>
  						<option value="U3-1" th:selected="${unit == 'U3-1'}">Unit3-1</option>
  						<option value="U3-2" th:selected="${unit == 'U3-2'}">Unit3-2</option>
  						<option value="U3-3" th:selected="${unit == 'U3-3'}">Unit3-3</option>
  						<option value="U4-1" th:selected="${unit == 'U4-1'}">Unit4-1</option>
  						<option value="U4-2" th:selected="${unit == 'U4-2'}">Unit4-2</option>
  						<option value="U4-3" th:selected="${unit == 'U4-3'}">Unit4-3</option>
  						<option value="U5-1" th:selected="${unit == 'U5-1'}">Unit5-1</option>
  						<option value="U5-2" th:selected="${unit == 'U5-2'}">Unit5-2</option>
  						<option value="U5-3" th:selected="${unit == 'U5-3'}">Unit5-3</option>
  						<option value="U6-1" th:selected="${unit == 'U6-1'}">Unit6-1</option>
  						<option value="U6-2" th:selected="${unit == 'U6-2'}">Unit6-2</option>
  						<option value="U6-3" th:selected="${unit == 'U6-3'}">Unit6-3</option>
  						<option value="U7-1" th:selected="${unit == 'U7-1'}">Unit7-1</option>
  						<option value="U7-2" th:selected="${unit == 'U7-2'}">Unit7-2</option>
  						<option value="U7-3" th:selected="${unit == 'U7-3'}">Unit7-3</option>
  						<option value="U8-1" th:selected="${unit == 'U8-1'}">Unit8-1</option>
  						<option value="U8-2" th:selected="${unit == 'U8-2'}">Unit8-2</option>
						<option value="U8-3" th:selected="${unit == 'U8-3'}">Unit8-3</option>
  						<option value="U9-1" th:selected="${unit == 'U9-1'}">Unit9-1</option>
  						<option value="U9-2" th:selected="${unit == 'U9-2'}">Unit9-2</option>
  						<option value="U9-3" th:selected="${unit == 'U9-3'}">Unit9-3</option>
  						<option value="U10-1" th:selected="${unit == 'U10-1'}">Unit10-1</option>
  						<option value="U10-2" th:selected="${unit == 'U10-2'}">Unit10-2</option>
  						<option value="U10-3" th:selected="${unit == 'U10-3'}">Unit10-3</option>
  						<option value="U11-1" th:selected="${unit == 'U11-1'}">Unit11-1</option>
  						<option value="U11-2" th:selected="${unit == 'U11-2'}">Unit11-2</option>
  						<option value="U11-3" th:selected="${unit == 'U11-3'}">Unit11-3</option>
 
					</select>
					
					
					<!-- 選択完了ボタンを追加 -->
           				 <button id ="select" type="submit" class="btn btn-primary">選択完了</button>

				</div>
			</form>
		</div>
					<select id="countselect" class="form-control-lg" name="countselect">
						<option value="5" th:selected="${countselect == '5'}">5秒だけかよ・・・</option>
						<option value="10" th:selected="${countselect == '10'}">10秒頑張る</option>
						<option value="15" th:selected="${countselect == '15'}">15秒頑張る</option>
						<option value="30" th:selected="${countselect == '30'}">30秒頑張る</option>
						<option value="60" th:selected="${countselect == '60'}">1分頑張る</option>
					</select>


		<!-- タイマー設定（セレクト） -->
		<div class="d-flex justify-content-center">
			<p id="count" class="h1 count"></p>
		</div>

		<div id="wrap" class="wrap bg-success border border-warning">
				<span id="question" class="h1 text-light font-weight-bold">javascriptでエラーでも出たかな？</span>
			<div class="mt-5 d-flex justify-content-center">
				<span id="typed" class="h2 text-warning font-weight-bold"></span>
			</div>
		</div>

		<!-- 解答欄　-->	
		<div class="d-flex pt-5 justify-content-center">
			<button id="start" class="btn btn-warning btn-lg">スタート</button>
		</div>
		
		<!-- 解答ボタン スタートの後に出現するようにしたい　-->
		<div class="d-flex pt-5 justify-content-center">
			<button id="pass" class="btn btn-secondary btn-lg me-3" style="display: none;">パス(escキー)</button>
			<button id="cheat" class="btn btn-primary btn-lg me-3" style="display: none;">カンニングボタン(Spaceキー)</button>
			<button id="challenge" class="btn btn-danger btn-lg" style="display: none;">解答ボタン(Enterキー)</button>
		</div>
		



	<!-- 検索ができているか検証したいだけのもの -->
	<div class="d-flex justify-content-center ">
		<table class="small-table table table-success table-striped table-bordered">
			<thead>
				<tr>
					<th scope="col">英単語</th>
					<th scope="col">意味</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="word : ${wordPage}">
					<td th:text="${word.getWord()}"></td>
					<td th:text="${word.getMean()}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</main>

<!-- フッター -->
<div th:replace="~{fragment :: footer}"></div>

<div th:replace="~{fragment :: scripts}"></div>

<script th:inline="javascript">
	
    //JPAインターフェースを継承してMySQLから取得したデータを渡したい！（オリジナルアプリ）
    //以下のコードはタイムリーフのメソッドでJavaのデータをjavascriptに変換している。
/* <![CDATA[ */ 
const wordPage = /*[[${wordPage}]]*/ 'wordPage';
console.log(wordPage[2].mean);
/* ]]> */ 

//const wordArray = wordPage.content.map((page) => page.word))みたいなイメージで出力するまで！
//wordPage.content.map((page) => {
//	console.log(page.word);
//})



</script>


</body>

</html>
<http://localhost:8080 />