<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<div th:replace="~{fragment :: meta}"></div>

	<div th:replace="~{fragment :: styles}"></div>

	<link th:href="@{/css/style.css}" rel="stylesheet" />

	<title>FirstEnglish</title>
</head>

<body>

	<!-- ヘッダー -->
	<div th:replace="~{fragment :: header}"></div>

	<main>
		<div class="container pt-4 pb-2">
			<h1 class=" mb-text-center">FirstEnglish</h1>
		</div>

		<!-- この下を選択式にして検索できるようにしたい。 -->
		<div class="d-flex justify-content-between align-items-end flex-wrap">
			<form method="get" th:action="@{/rangeselect}" class="mb-3">
				<div class="input-group">
					<!-- ドロップダウンメニューを追加 -->
					<select class="form-control-lg " name="schoolyear">
						<option selected>学年を選んでください</option>
						<option value="1" th:selected="${schoolyear == 1}">1</option>
   						<option value="2" th:selected="${schoolyear == 2}">2</option>
    					<option value="3" th:selected="${schoolyear == 3}">3</option>
					</select>
					<!-- 他の検索オプションを追加 -->
					<select class="form-control-lg " name="unit" >
						<option selected>教科書の範囲を選んでください。</option>
						<option value="U1-1" th:selected="${unit == 'U1-1'}">Unit1-1</option>
  						<option value="U1-2" th:selected="${unit == 'U1-2'}">Unit1-2</option>
  						<option value="U1-3" th:selected="${unit == 'U1-3'}">Unit1-3</option>
						
					</select>
					<!-- 選択完了ボタンを追加 -->
            <button id ="select" type="submit" class="btn btn-primary">選択完了</button>

				</div>
			</form>
		</div>



		<!-- ここから下は既存のコード -->
		<div class="d-flex justify-content-center">
			<p id="count" class="count">10</p>
		</div>

		<div id="wrap" class="wrap">
			
			<span id="question" class="text-Light">javascriptでエラーでも出たかな？</span>
		</div>

		<!-- 解答欄　-->
		<!-- スタートボタンを押したら出現するようにしたい　-->
		<div class="d-flex justify-content-center">
			<span id="typed" class="typed text-info font-weight-bold"></span>
			<span id="typed" class="text-Light"></span>
		</div>


		<div class="d-flex pt-5 justify-content-center">
			<button id="start" class="btn btn-danger btn-lg">スタート</button>
		</div>
		
		<!-- 解答ボタンスタートの後に出現するようにしたい　-->
		<div class="d-flex pt-5 justify-content-center">
			<button id="pass" class="btn btn-secondary btn-lg me-3" style="display: none;">パス(escキー)</button>
			<button id="challenge" class="btn btn-danger btn-lg" style="display: none;">解答ボタン(Enterキー)</button>
		</div>
		



	<!-- 検索ができているか検証したいだけのもの -->
	<div class="d-flex justify-content-center ">
		<table class="small-table table table-borderred">
			<thead>
				<tr>
					<th scope="col">英単語</th>
					<th scope="col">意味</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="word : ${wordPage}">
					<td th:text="${word.getWord()}"></td>
					<td th:text="${word.getMean()}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>

</main>

<!-- フッター -->
<div th:replace="~{fragment :: footer}"></div>

<div th:replace="~{fragment :: scripts}"></div>

<script th:inline="javascript">
	
    //JPAインターフェースを継承してMySQLから取得したデータを渡したい！（オリジナルアプリ）
    //以下のコードはタイムリーフのメソッドでJavaのデータをjavascriptに変換している。
/* <![CDATA[ */ 
const wordPage = /*[[${wordPage}]]*/ 'wordPage';
console.log(wordPage[2].mean);
/* ]]> */ 

//const wordArray = wordPage.content.map((page) => page.word))みたいなイメージで出力するまで！
//wordPage.content.map((page) => {
//	console.log(page.word);
//})



</script>


</body>

</html>
<http://localhost:8080 />